.bg-light {
    background-color: #273c75 !important;
    box-shadow: 0px 0px 13px -2px rgba(68,68,68	,1);
}
.navbar-brand{
	font-weight: bolder;
	font-size: 18pt;
	font-family: verdana;
}
.sidebar{
	width: 100%;
	height: 650px;
	margin-left: -20px;
	background-color: #192a56;
	padding-top: 60px;
	box-shadow: 0px 0px 13px -2px rgba(68,68,68	,1);		
	/*position: fixed;*/
}
h3{
	margin: 20px 30px;
}
.underline{
	width: 60%;
	height: 6px;
	background-color: #273c75;
	margin-left: 270px;
	margin-top: -35px;
	margin-bottom: 50px;
}
/*.underline2{
	width: 150px;
	height: 4px;
	background-color: #273c75;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 40px;
}*/
.menu{
	width: 80%;
	margin: auto;
	padding: 15px;
	background-color: #f5f6fa;
	font-size: 15pt;
	border-radius: 5px;
	font-family: helvetica;
	color: #273c75;
	font-weight: bold;
	text-decoration: none;
}
.card{
	background-color: #f5f6fa;
	padding: 20px;
	margin: 20px;
	border: 0;
	box-shadow: 0px 0px 13px -2px rgba(68,68,68	,1);		
}

a:hover{
	text-decoration: none;
}
.menu:hover{
	background-color: #f1f1f7;
}